footer {
  background-image: url("../assets/images/bg-contact.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: auto;
  background-color: lightgray 50%;
  padding: 128px 120px 200px 120px;

  .title p {
    color: var(--color-purple);
  }

  h2 {
    margin-bottom: 8px;
    font: var(--title-md);
  }

  p {
    color: var(--color-gray-500);
    font: var(--text-md);
    text-align: center;
  }

  .redeSocial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
    margin-bottom: 100px;
  }

  .itemRedeSocial {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 68px;
    padding: 20px;
    border-radius: 8px;
    background: var(--color-gray-300);

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      border-radius: 8px;
      border: 1.5px solid var(--color-blue);
      background: var(--color-gray-300);
    }
  }

  .nomeRedeSocial {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 12px;

    img {
      width: 28px;
      height: 28px;
    }
  }

  span {
    color: var(--color-gray-500);
    font: var(--text-md);
    font-weight: 500;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

footer {
  max-width: 1366;
  padding: 80px 20px 20px 20px;
  min-height: auto;
  .redeSocial {
    margin-top: 20px;
    display: flex;
    gap: 16px;
  }
  .itemRedeSocial {
    width: 300px;
    padding: 20px;
    display: flex;
  }
}
